@model OctroitCredits.Models.GarantieModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>GarantieModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client_id" class="control-label"></label>
                <input asp-for="Client_id" class="form-control" />
                <span asp-validation-for="Client_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credit_id" class="control-label"></label>
                <input asp-for="Credit_id" class="form-control" />
                <span asp-validation-for="Credit_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infogarantie" class="control-label"></label>
                <input asp-for="Infogarantie" class="form-control" />
                <span asp-validation-for="Infogarantie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valeurestimee" class="control-label"></label>
                <input asp-for="Valeurestimee" class="form-control" />
                <span asp-validation-for="Valeurestimee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
