@model OctroitCredits.Models.CompteModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CompteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label"></label>
                <input asp-for="clientId" class="form-control" />
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numCompte" class="control-label"></label>
                <input asp-for="numCompte" class="form-control" />
                <span asp-validation-for="numCompte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montant" class="control-label"></label>
                <input asp-for="montant" class="form-control" />
                <span asp-validation-for="montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="libelle" class="control-label"></label>
                <input asp-for="libelle" class="form-control" />
                <span asp-validation-for="libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOperation" class="control-label"></label>
                <input asp-for="dateOperation" class="form-control" />
                <span asp-validation-for="dateOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
