@model OctroitCredits.Models.EcheanceModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EcheanceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="echeanceId" class="control-label"></label>
                <input asp-for="echeanceId" class="form-control" />
                <span asp-validation-for="echeanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label"></label>
                <input asp-for="clientId" class="form-control" />
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creditId" class="control-label"></label>
                <input asp-for="creditId" class="form-control" />
                <span asp-validation-for="creditId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montantcredit" class="control-label"></label>
                <input asp-for="montantcredit" class="form-control" />
                <span asp-validation-for="montantcredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montantpayer" class="control-label"></label>
                <input asp-for="montantpayer" class="form-control" />
                <span asp-validation-for="montantpayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateEcheance" class="control-label"></label>
                <input asp-for="dateEcheance" class="form-control" />
                <span asp-validation-for="dateEcheance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
