@model OctroitCredits.Models.DemmandeModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DemmandeModel</h4>
<hr />
<div class="row ml-5">
    
    <form asp-action="Create">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label"></label>
                <select asp-for="clientId" asp-items="@ViewBag.listesclient" class="form-control">
                    <option value="">Selectionner le client</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="montant" class="control-label"></label>
                <input type="number" asp-for="montant" class="form-control" />
                <span asp-validation-for="montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duree" class="control-label"></label>
                <input  asp-for="duree" class="form-control" />
                <span asp-validation-for="duree" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4"
            <div class="form-group">
                <label asp-for="motif" class="control-label"></label>
                <input asp-for="motif" class="form-control" />
                <span asp-validation-for="motif" class="text-danger"></span>
            </div>
           >
            <div class="form-group">
                <label asp-for="dateDemande" class="control-label"></label>
                <input asp-for="dateDemande" class="form-control" />
                <span asp-validation-for="dateDemande" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


