@model OctroitCredits.Models.CreditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CreditModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreditId" class="control-label"></label>
                <input asp-for="CreditId" class="form-control" />
                <span asp-validation-for="CreditId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label"></label>
                <input asp-for="clientId" class="form-control" />
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="compteId" class="control-label"></label>
                <input asp-for="compteId" class="form-control" />
                <span asp-validation-for="compteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montant" class="control-label"></label>
                <input asp-for="montant" class="form-control" />
                <span asp-validation-for="montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duree" class="control-label"></label>
                <input asp-for="duree" class="form-control" />
                <span asp-validation-for="duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taux_interet" class="control-label"></label>
                <input asp-for="taux_interet" class="form-control" />
                <span asp-validation-for="taux_interet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statut" class="control-label"></label>
                <input asp-for="statut" class="form-control" />
                <span asp-validation-for="statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="relevespaie" class="control-label"></label>
                <input asp-for="relevespaie" class="form-control" />
                <span asp-validation-for="relevespaie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datecredit" class="control-label"></label>
                <input asp-for="datecredit" class="form-control" />
                <span asp-validation-for="datecredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


